<ng-container *ngIf="handleProducts.length !== 0 then handledProductsTemplate else totalProducts">
</ng-container>

<ng-template #handledProductsTemplate>
  <section *ngIf="handleProducts.length > 0 && handleProducts.length < 12
  && handleProducts !== -1 else notFound" >
    <app-item *ngFor="let product of handleProducts" [p]="product"></app-item>
  </section>
</ng-template>

<ng-template #totalProducts class="product" >
  <h2 class="title">PRODUCTS</h2>
  <div *ngFor="let sub of subcategory">
    <h3 class="subtitle">{{sub.name}}</h3>
    <div class="kind">
      <section *ngFor="let pro of products">
        <app-item *ngIf="pro.kind === sub.name" [p]="pro"></app-item>
      </section>
    </div>
  </div>
</ng-template>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
<ng-template #notFound>
  <p>No coincidences :(</p>
</ng-template>