<section>
  <div class="order-details">
    <h2 class="title">ORDER</h2>
    <section><label>Client: </label>
      <input class="user-name" [(ngModel)]="userName">
    </section>
    <p>N° Order:</p>
    <p>N° Table: T
      <select [(ngModel)]="tableNumber">
        <option *ngFor="let table of tables" [value]="table.id">{{table.name}}</option>
      </select>
    </p>
    <table *ngIf="order.length > 0; else noOrder">
      <thead>
        <tr>
          <th>Items</th>
          <th>Units</th>
          <th>Price</th>
          <th><i class="fa fa-remove"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr app-food *ngFor="let item of order" [food]="item" (foodRemove)="deleteMeal($event)"></tr>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td>{{totalOrder() | currency}}</td>
        </tr>
      </tfoot>
    </table>
    <button class="button-send" *ngIf="order.length > 0" (click)="sendOrder()">SEND TO KITCHEN</button>
  </div>
  <ng-template #noOrder>
    <p>No orders yet!</p>
  </ng-template>
</section>