<div *ngIf="products.length > 0; else loading">
  <h2>Products</h2>
  <h3>DRINKS</h3>
  <section *ngFor="let p of products">
    <button *ngIf="p.kind === 'drink'" (click)="addInOrder(p)" >
      {{p.name}}
      {{p.price}} 
    </button>
  </section>
  <h3>BURGERS & SANDWICHES</h3>
  <section *ngFor="let p of products">
    <button *ngIf="p.kind === 'burger-sandwich'" (click)="addInOrder(p)">
      {{p.name}}
      {{p.price}} 
    </button>
  </section>
  <h3>ACCOMPANIMENT</h3>
  <section *ngFor="let p of products">
    <button *ngIf="p.kind === 'accompaniment'" (click)="addInOrder(p)">
      {{p.name}}
      {{p.price}}
    </button>
  </section>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>