<h2>ORDER</h2>
<li>CLIENT: <input #nameUser (keyup)="nameUser.value"></li>
<li>N° ORDER:</li>
<li>N° TABLE: T <select #table >
  <option *ngFor="let table of tables" [value]="table.id">{{table.name}}</option>
  </select> </li>
<app-products (meal)="recibeOrder($event)">
</app-products>
<strong>
  <p>
    <span>ITEM </span>
    <span>UNITS </span>
    <span>PRICE</span>
  </p>
</strong>
<section *ngFor="let p of orderT; let i = index; trackBy: trackByFn">
  {{p.name}}
  <select [(ngModel)]="opcionSeleccionado[i]" (ngModelChange)="capturar($event, p, i)">
    <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
  </select>
  ${{p.price}}
  <button (click)="deleteMeal(p, i)">Delete</button>
</section>
<p>Total: {{total}} </p>
<button (click)="sendOrder(nameUser.value, table.value)">SEND TO KITCHEN</button>